.container-carusel {
  background-color: black;
  padding: 5px 80px;
}

.carousel-logo {
  width: 5em;
  max-height: 300px;
}

.slick-arrow {
  opacity: 0;
  display: none;
}




@media only screen and (max-width: 480px) {
  .carousel-logo {
    width: 7em;


    
  }

  .container-carusel {
    padding: 5px;
  }
}
