#infinite{
  background:linear-gradient(transparent, white 80%);
  height:15%;
  position:fixed;
  bottom:0;
  width:100%;
  z-index:10;
}

#WAButton {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  /* When the animation is finished, start again */
  animation-iteration-count: 0;
  height:6em;
  width:7em;
}


 
*#WAButton:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake s;
  animation-iteration-count: infinite;
}
 
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
}

  



/* FAQ*/
#myInputCodigo {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

/* manu acordeon */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0.1em;
  width: 100%;
  height:100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  white-space: normal;}
.active, .accordion:hover {
  background-color: #ccc;}
.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 0px;}
.active:after {
  content: "\2212";}
.panelfaq {
  margin-bottom:1.5em;
  padding: 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;}


  @media only screen and (max-width: 480px) {
    .accordion{
      font-size: 80%;
      display:block;
      width:100%;
      display: block;
      width: 100%;
      color: white;
      text-align: center;
      white-space: normal;
    }
    #logo{
      width:80%;
    }
    #qrAfip{
      width:40%;
    }

  }

  #slogan{
    font-size:4Vmin;
  }
  @media only screen and (min-width: 481px) {
    .accordion{
      font-size: 80%;
      display:block;
      width:100%;
      display: block;
      width: 100%;
      color: white;
      text-align: center;
      white-space: normal;
    }
    #logo{
      width:50%;
      text-align: center;
    }
    #qrAfip{
      width:40%;
    }
  
  }
  
  #portfolio .intro-wrap {
    padding: 3rem 0 0rem;
    height:20em;
    background-color: rgb(231, 243, 248);
  }

  /*----------------------------------------------------------------- */
  #portfolio {
    background-color: rgb(231, 243, 248);
    min-height: 100px;
    position: relative;
    padding-top:12rem;;
  }

 
  #portfolio .section-intro h1 {
    color: #111224;
  }
  #portfolio .section-intro .lead {
    color: rgb(0, 0, 0);
  }
  #portfolio .portfolio-content {
    margin-top: 0rem;
  }
  #portfolio .bricks-wrapper:before, 
  #portfolio .bricks-wrapper:after {
    content: "";
    display: table;
  }
  #portfolio .bricks-wrapper:after {
    clear: both;
  }
  #portfolio .bricks-wrapper .brick {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
  #portfolio .bricks-wrapper .brick:nth-child(2n+1) {
    clear: both;
  }
  
/*------------------------------------------------------------------------*/
@media only screen and (max-width: 600x) {
  #iframe{
    display: none;
  }
  #logo{
    width:10%;
  }
}